<div id='forecast' class='container'>
  <%= render partial: 'shared/forecast_locale', locals: {city: @city, state: @state} %>
  <div class="today">
    <%= render partial: 'shared/forecast_today', locals: {city: @city} %>
  </div>
</div>