<div id='forecast_today' class='row'>
  <div class='col l5 m8 s12'>
    <div class='row resume'>
      <div class='col s4'>
        <%= image_tag 'realistc/128px/2.png' %>
      </div>
      <div class='col S4 degrees'>
        <p>34º</p>
      </div>
      <div class='col s4 max_min'>
        <p>MÁX: 36º</p>
        <p>MÍN: 28º</p>
      </div>
      <div class='col s12 description'>
        <p>Dia de sol com algumas nuvens e névoa ao amanhecer. Noite com poucas nuvens.</p>
      </div>
    </div>
  </div>

  <div class='col l2 m4 s12'>
    <p>4</p>
  </div>

  <div class='col l4 m9 s12'>
    <p>5</p>
  </div>

  <div class='col l1 m3 s12'>
    <p>6</p>
  </div>
</div>