<div id="header" class='header-container container row'>
    <div class='logo col s12 m3 l3 valign-wrapper'>
      <%= image_tag 'logo.png', class: 'responsive-img' %>
    </div>
    <div class=" col s3 offset-s6 hide-on-small-only">
      <div class="alignment">
        <div class="search-wrapper white-text">
          <input id="search" placeholder='Buscar cidade'>
          <i class="material-icons">search</i>
        </div>
      </div>
    </div>

    <!--<div class='input-field white-text col s3 offset-s6 hide-on-small-only'>
      <input type="text" placeholder="Buscar cidade" id="autocomplete-input" class="autocomplete white-text" >
    </div>-->
</div>