<div id='header' class='header-container container row'>
    <div class='logo col s12 m3 l3 valign-wrapper'>
      <%= image_tag 'logo.png', class: 'responsive-img' %>
    </div>
    <div class='teste col m6 l6 offset-m3 offset-l3 hide-on-small-only'>
      <div class='alignment'>
        <div class='search-wrapper white-text'>
          <i class='material-icons'>search</i>
          <%= render '/shared/search_city' %>
        </div>
      </div>
    </div>

    <!--<div class='input-field white-text col s3 offset-s6 hide-on-small-only'>
      <input type="text" placeholder="Buscar cidade" id="autocomplete-input" class="autocomplete white-text" >
    </div>-->
</div>