
#forecast_locale {
  .large {
    h5 {
      font-size: 0.9em;
      margin: 0 0 5px 0;
      color: $secondary-color;
    }
    i {
      font-size: 2.2rem;
    }
  }
  .small {
    h5 {
      font-size: 1.3em;
      color: $primary-color;
      font-weight: 600;
      line-height: 34px;
    }
    i {
      font-size: 2rem;
    }
  }

  p {
    color: $primary-color;
    font-size: 2.13em;
    margin: 0 0 0 5px;
    font-weight: 600;
    line-height: 36px;

  }

  i {
    float: left;
    margin-left: -5px;
    color: $ternary-color;
  }
}