
#forecast-today {
  p {
    margin: 0;
  }
  div.resume {
    img {
      max-width: 72px;
    }

    .degrees {
      p {
        line-height: 66px;
        font-size: 4.8em;
        color: $ternary-color;
      }
    }

    .max-min {
      text-align: center;
      margin-top: 3%;
      p {
        font-size: 16px;
        color: $secondary-color;
      }
    }

    .description {
      margin-top: 10px;
      p {
        color: $ternary-color;
        font-size: 1.33em;
        line-height: 22px;
        @media #{$medium-and-up} {
          padding-right: 50px;
        }
      }
    }
  }

  div.basic-info {
    p {
      font-size: 16px;
      text-align: center;
      color: $secondary-color;
      line-height: 24px;
    }

    .top-block {
      margin-top: 8%;
    }
  }

  div.variants {
    margin-top: -10px;
    p {
      color: $secondary-color;
      font-size: 16px;
      padding: 0;
    }
    .row {
      margin: 0;
    }
    .section {
      padding-bottom: 0.7rem;
      padding-top: 0.7rem;
    }
    .divider {
      background-color: #eee;
    }
  }

  div.day-forecast {
    text-align: center;
    img {
      width: 40px;
      height: 40px;
      display: block;
      margin: 0 auto;
    }
    p {
      font-size: 14px;
      color: $secondary-color;
      margin-top: -3px;
      margin-bottom: 10%;
    }
  }

  .see-more-details {
    text-align: center;
    color: $primary-color;
    font-size: 1.2em;
    text-decoration: underline;
    margin-bottom: 5px;
    padding: 5px 0 5px 0;
    cursor: pointer;
    display: inline-block;
    width: 100%;
  }
}
