// colors_scheme should be imported first to share variables with all files 
@import 'colors_scheme'; 
@import "materialize";
@import "material_icons";
@import "header";
@import "forecast_locale";
@import "forecast_today";
@import "previsao";
@import "mobile";

html {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background-color: #fafafa;
}

main {
  min-height: 400px;
}

footer {
  height: 54px;
  background-color: $primary-color;

  p {
    margin: 0 auto;
    color: #fff;
    font-size: 0.9em;
  }
}