
@media #{$small-and-down} {
  header {
    height: 75px;
    .logo {
      padding: 0px 22% 0px 22% !important;
    } 
  }

  footer {
    height: 54px !important;

    p {
      font-size: 0.8em !important;
    }
  }
}